.container{
    margin: 50px 0;
}

.card{
    margin: 0 2% !important;
    
} 

.infected{
    border-bottom: 10px solid rgba(0,0,255,0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.664);
}

.death{
    border-bottom: 10px solid rgba(255, 0, 0, 0.692);
}

@media only screen and (max-width: 920px){
    .card{
        margin: 3% 3%!important;
        
    }
}